
.input-group-btn {
    width: auto;
}

.search {
    width: 100%;
}

.ui-tabs-panel {
    padding: 0 !important;
}

#textureSearchPanel {
    position: relative;
    height: 100%;
}

#modelTexturesPanel {
    position: relative;
    height: 50%;
}

#colorsPanel {
    position: relative;
    height: 100%;
}

#imagesPanel {
    position: relative;
    height: 100%;
}

.imageResults {
    position: absolute;
    width: 100%;
    top: 0;
    overflow: auto;
    border: #00aadd solid 1px;
}

img.enlarged {
    opacity:0.2;
    filter:alpha(opacity=20);
}

.large img {
    position:absolute;
    max-width: 250px;
    max-height: 250px;
    border-width: 1px;
    border-style:solid;
    border-color:lightgray;
}
.large img:hover {
    z-index: 50;
}

#scaleLine {
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 100%;
    overflow: auto;
    white-space: nowrap;
}

#scaleLine .spacer
{
    width: 5px;
    display: inline-block;
    visibility: hidden;
}

#scaleLine .bar
{
    width: 5px;
    display: inline-block;
    background-color: #aaaaaa;
}

#scaleLine .bar:hover
{
    background-color: #00aadd;
}

#scaleLine .refObject {
    display: inline-block;
    position: relative;
    cursor: default;
    text-align:center;
}

#scaleLine .refObject > * {
    font: 18px bold sans-serif;
    color: white;
    padding: 5px;
}

#scaleLine .refObject:hover {
    background-color: #00aadd;
}

.scaleLineArrowDiv {
    position: absolute;
    height: 100%;
    background-color: #EF9F56;
    opacity: 0.8;
}

#materialsPanel {
    position: absolute;
    top: 30px;
    right: 20px;
    padding: 5px;
    cursor: pointer;
    opacity: 0.8;
    z-index: 1;
    border: thin solid #A5A5A5;
}

#materialsPanel .modelMaterial:hover {
    background-color: rgba(0, 170, 221, 0.75);
}

#materialsPanel .modelMaterialSelected {
    background-color: #EF9F56;
}

#modelTexturesPanel img {
    max-height:100%;
    max-width:100%;
}

#tabs {
    height: 90%;
}

#tabs-1, #tabs-2, #tabs-3, #tabs-4, #tabs-5 #tabs-6 {
    height: 90%;
}

#loadFixedModel {
    display: none;
}

#annotateTextures div.formPart {
    padding: 5px;
}

#categorizerPanel {
    padding: 15px;
    width: 100%;
    height: 85%;
}

#sizeTextbox
{
    position: absolute;
    left: 35%;
    z-index: 100;
    width: 50px;
    font: 14pt sans-serif;
    padding: 6px;
    text-align: center;
}

.scrollableDiv {
    position: relative;
    overflow: auto;
}

#previewPane {
    position: relative;
    width: 100%;
    height: 92%;
    overflow: hidden;
}

#previewPane .scrollableDiv {
    border: #00aadd solid 1px;
}

#previewPane .previewImage {
    max-height:100%;
    max-width:100%;
}

#previewPane .previewImage:hover {
    outline: #00aadd solid thick;
}

#numCheckedMsg {
    position: absolute;
    right: 0;
}

#selectedPane {
    position: relative;
    width: 100%;
    height: 92%;
    overflow: hidden;
}

#selectedPane .scrollableDiv {
    border: #00aadd solid 1px;
}

#selectedPane .previewImage {
    max-height:100%;
    max-width:100%;
}

#selectedPane .previewImage:hover {
    outline: #00aadd solid thick;
}

.selectedCategory {
    background-color: #00aadd;
    color: #ffffff;
}

.selectedCatNum {
    text-align: right;
}

#categoriesPanel {
    max-height: 100%;
    overflow: auto;
}

#categoriesPanel .categoryName {
    color: #00aadd;
    cursor: pointer;
}

#categoriesPanel .categoryName:hover {
    background-color: #EF9F56;
}

.materialNode {
    width: 12px;
    height: 8px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 8px 8px;
}

.materialNodeExpanded {
    background-image: url("../resources/images/arrowDown.svg");
}

.materialNodeClosed {
    background-image: url("../resources/images/arrowRight.svg");
}

.tabsToolbar  {
    position: absolute;
    right: 10px;
    z-index: 10;
}

.tabsToolbar > img {
    opacity:0.6;
    filter:alpha(opacity=60);
}

.tabsToolbar > img:hover   {
    opacity:1.0;
    filter:alpha(opacity=100);
}

.imageButton {
    opacity:0.6;
    filter:alpha(opacity=60);
}

.imageButton:hover   {
    opacity:1.0;
    filter:alpha(opacity=100);
}

.grayRadialBackground {
    background: #7d7e7d; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM3ZDdlN2QiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMGUwZTBlIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-radial-gradient(center, ellipse cover, #7d7e7d 0%, #0e0e0e 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #7d7e7d 0%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #7d7e7d 0%,#0e0e0e 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #7d7e7d 0%,#0e0e0e 100%); /* IE10+ */
    background: radial-gradient(ellipse at center, #7d7e7d 0%,#0e0e0e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}

div.annotation {
    margin: 5px;
}

#customLoadingPanel {
    position: absolute;
    bottom: 30px;
    left: 20px;
    padding: 5px;
    cursor: pointer;
    opacity: 0.8;
    z-index: 1;
    border: thin solid #A5A5A5;
}

div.pagination {
    margin: 0px;
}

.searchResults td, .searchResults th {
    padding: 4px;
}

/* Labels panel */
.overlay {
    position: absolute;
    cursor: pointer;
    opacity: 0.9;
    z-index: 1;
}

.btn-space {
    margin-bottom: 15px;
}

#namesPanel {
    top: 20px;
    right: 20px;
}

label div {
    display: inline-block;
    width: 40px;
    color: white;
    text-align: center;
    margin-right: 10px;
}

.label-left {
    text-align: left;
}

.mouse-tooltip {
    display: inline-block;
    position: absolute;
    pointer-events: none;
    z-index: 100;
}


